::-ms-reveal,
::-ms-clear {
    display: none !important;
}

.hideShowPassword-toggle {
    background: none;
    border: none; 
    cursor: pointer;
    overflow: 'hidden';    
    -moz-appearance: none;
    -webkit-appearance: none;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 0;
    color: black;
}

.hideShowPassword-toggle:before{
    content: "\f06e";
}

.hideShowPassword-toggle-hide:before {
    content: "\f070";
}
