/* This is the first Global Styles And Variable File */

/* Base URL */

$base_URL: "http://localhost/php/pub_tms/client/dist";

/* Font Vars */

$base-font: 'Open Sans', sans-serif;

/* /.Font Vars */

/* Color Vars */

$white 			: #ffffff;
$black 			: #000000;
$lightBlack 	: #333333;
$primaryColor 	: #002980;
$lightBlue 		: #c4def3;
$primaryGrey	: #232323;
$smallHeading	: #00005c;	


/* /.Color Vars */

/* Spacing Vars */

$marginAutoLR	: 0 auto;
$no-margin		: 0;

/* /.Spacing Vars */


